<h1>SUPER AWESOME TO-DO LIST</h1>
<a href='/create-task'>New task</a>
<% @all_tasks.each do |task_array|%>
  <div class = "<%= "completed" if (task_array[3] != nil) %>">
    <h2 class="title"><%=task_array[1]%></h2>

  <p class="description">
    <%=task_array[2] %>
  </p>

  <a href= '/<%= "un" if (task_array[3] != nil) %>completed/<%=task_array[0]%>'><div class = "checkbox">
  </div></a>

  <%#put checkbox here!%>
  <%# <form><input type="hidden" name="id" value="<%=task_array[0] >"></form> %>
  <a href='/delete-task/<%=task_array[0]%>'>DELETE</a> <%#ADD NUMBER SPECIFICTY in iteration%>
  <a href='/create-task/<%=task_array[0]%>'>EDIT</a> <%#ADD NUMBER SPECIFICTY in iteration%>
</div>
  <%end%>
<%= @all_tasks%>
