

<h3>Tasks To Do</h3>
<div class="tasks">
  <div class="list_headers">
    <ul>
      <li>Tasks</li>
      <li>Description</li>
      <li>Date Added</li>
    </ul>
  </div>
  <form action="" method="post" accept-charset="utf-8">
    <% @show.length.times do |index| %>
    <div class="list_items">
      <ul>
        <% if @show[index][4] == nil %>
        <li><%=@show[index][1]%></li>
        <li><%=@show[index][2]%></li>
        <li><%=@show[index][3]%></li>
        <li class="button"><button type="submit" value=<%=@show[index][0]%> name="mark">Mark complete</button></li>
        <li class="button"><button type="submit" value=<%=@show[index][0]%> name="id">Remove</button></li>
        <%end%>
      </ul>
    </div>
    <%end%>
  </form>
</div>

<span class="spacer">
  <br></br>
</span>

<h3>Completed Tasks</h3>
<div class="tasks">
  <div class="list_headers">
    <ul>
      <li>Tasks</li>
      <li>Description</li>
      <li>Date Added</li>
    </ul>
  </div>
  <form action="" method="post" accept-charset="utf-8">
    <% @show.length.times do |index| %>
    <div class="list_items">
      <ul>
        <% if @show[index][4] != nil %>
        <li><%=@show[index][1]%></li>
        <li><%=@show[index][2]%></li>
        <li><%=@show[index][3]%></li>
        <%end%>
      </ul>
    </div>
    <%end%>
  </form>
</div>
