
<div class="list_headers">
  <ul>
    <li>Tasks</li>
    <li>Description</li>
    <li>Date Added</li>
    <li>Mark Completed</li>
  </ul>
</div>
<!-- <form action="" method="post" accept-charset="utf-8"> -->
<form action="" method="post" accept-charset="utf-8">
<div class="list">
  <% @show.length.times do |index| %>
  <div class="list_items">
    <ul>
      <li><%=@show[index][1]%></li>
      <li><%=@show[index][2]%></li>
      <li><%=@show[index][3]%></li>

      
      <li><input type="checkbox" name="completed_at[]" value= " "></li>
      <li><button type="submit" value=<%=@show[index][0]%> name="id">Remove</button></li>
    </ul>
  </div>
  <%end%>
  <input type="submit" value="Submit">
</div>
</form>

<div class="params">
  <%= params %>
</div>