<!-- create new task -->
<article>
<!-- add task  ------------------------------------------>

  <form action="" method="post" acet-charset="utf-8">
    <fieldset>
      <legend>Create A Task</legend>
      <label class="form_label" for="user_word"></label>
      <input type="text" name=task_hash[title] value="Input Word Here" id="user_word">
      <input type="textarea" name=task_hash[description] value="Input Word Here" id="user_word">
      <input type="text" name=task_hash[completed_at] value="Input Word Here" id="user_word">
      <input type="submit"  value="" name="add_task" id="submit">
    </fieldset>
  </form>

<!-- search  ------------------------------------------>

  <form action="" method="post" acet-charset="utf-8">
    <fieldset>
      <legend>Find Tasks</legend>
      <label class="form_label" for="user_word"></label>
      <input type="text" name="text" value="Input Word Here" id="user_word">
      <input type="submit"  value="" name="search" id="submit">
    </fieldset>
  </form>

  <% if @search_results %>
      <table>
        <th>
          <tr colspan=4>Search Results </tr>
        </th>
        <tr>
          <td>No.</td>
          <td>Task Name</td>
          <td>Description</td>
          <td>Status</td>
          <td>Primary Key</td>
        </tr>
        <% index = 1 %>
        <% @search_results.each do |result| %>
          <tr>
            <td><%= index %></td>
            <td><%= result[1] %></td>
            <td><%= result[2] %></td>
            <td><%= result[3] %></td>
            <td><%= result[0] %></td>
          </tr>
          <% index += 1 %>
        <% end %>
      </table>
  <% end %>


  <!-- PRINT RESULTS  ------------------------------------------>
  <% if @all_tasks %>
      <table class="task_list">
        <th class="table_header">
          <tr colspan=4>Task List </tr>
        </th>
        <tr class="header_row">
          <td>No.</td>
          <td>Task Name</td>
          <td>Description</td>
          <td>Due Date</td>
          <td>Status</td>
          <td>Delete</td>
        </tr >
        <form action="" method="post" acet-charset="utf-8">
          <label for="check_boxes"></label>
        <% index = 1 %>
        <% @all_tasks.each do |task| %>
          <tr class="table_row">
            <td><%= index %></td>
            <td><%= task[1] %></td>
            <td><%= task[2] %></td>
            <td><%= task[3] %></td>
            <td class="box"><input type="submit" name="completed" value="" id="check_complete_box" /></td>
            <td class="box2"><input type="submit" name="<%= task[3] %>" value="" id="delete_task_box" /></td>
            <!-- <td class="box"><input type="submit" name="delete_task_box" value="" id="delete_task_box" /></td> -->
            <!-- <td class="box2"><input type="submit" name="delete"   value="" id="delete_box" /></td> -->
          </form>
          </tr>
          <% index += 1 %>
        <% end %>
      </table>
  <% end %>

</article>
