<!-- create new task -->
<article>
  <h1>Hello</h1>
<%= params %>
<!-- add task  ------------------------------------------>
  <form action="" method="post" acet-charset="utf-8">
    <label class="form_label" for="user_word"></label>
    <input type="text" name=task_hash[title] value="Input Word Here" id="user_word">
    <input type="textarea" name=task_hash[description] value="Input Word Here" id="user_word">
    <input type="text" name=task_hash[completed_at] value="Input Word Here" id="user_word">
    <input type="submit"  value="" name="add_task" id="submit">
  </form>

<!-- search  ------------------------------------------>

  <form action="" method="post" acet-charset="utf-8">
    <label class="form_label" for="user_word"></label>
    <input type="text" name="text" value="Input Word Here" id="user_word">
    <input type="submit"  value="" name="search" id="submit">
  </form>

<!-- PRINT RESULTS  ------------------------------------------>

  <% if @all_tasks %>
      <table>
        <th>
          <tr colspan=4>Task List </tr>
        </th>
        <tr>
          <td>No.</td>
          <td>Task Name</td>
          <td>Description</td>
          <td>Status</td>
          <td>Primary Key</td>
        </tr>
        <% index = 1 %>
        <% @all_tasks.each do |task| %>
          <tr>
            <td><%= index %></td>
            <td><%= task[1] %></td>
            <td><%= task[2] %></td>
            <td><%= task[3] %></td>
            <td><%= task[0] %></td>
          </tr><br>
          <% index += 1 %>
        <% end %>
      </table>
  <% end %>


  <% if @search_results %>
      <table>
        <th>
          <tr colspan=4>Search Results </tr>
        </th>
        <tr>
          <td>No.</td>
          <td>Task Name</td>
          <td>Description</td>
          <td>Status</td>
          <td>Primary Key</td>
        </tr>
        <% index = 1 %>
        <%= @search_results%>

        <% @search_results.each do |result| %>
          <tr>
            <td><%= result %></td>

          </tr><br>
          <% index += 1 %>
        <% end %>
      </table>
  <% end %>

</article>
